@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Adicionando as classes necessárias para o carrossel */
@keyframes carousel {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-carousel {
  animation: carousel var(--animation-duration, 30s) linear infinite;
}

.animate-carousel-reverse {
  animation: carousel var(--animation-duration, 30s) linear infinite reverse;
}

.mask-gradient {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}